<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }} | LahtiES</title>
    <link rel="icon" type="image/svg+xml" href="{{ 'assets/images/favicon.svg' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    {% if include.custom_css or page.custom_css %}
    <style>
        {{ include.custom_css }}
        {{ page.custom_css }}
    </style>
    {% endif %}
</head>