<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
{% include head.html %}
<!-- Hey! Nice to see you here and feel free to take a peek. If you want a better view of the real source code behind the page, go to https://github.com/lahties/website - we actually host it on Github Pages. Best: Huba-->
<!--  
  @@@@              @@@@@@@@@@@          @@@@@           @@@@  @@@@@@@@@@@@@@@@@@@@   @@@@         @@@@@@@@@@          @@@@@@@@@@@@@@   
  @@@@              @@@@@@@@@@@@@@@      @@@@@           @@@@  @@@@@@@@@@@@@@@@@@@@   @@@@      @@@@@@@@@@@@@@@@    @@@@@@@@@@@@@@@@@   
  @@@@                       @@@@@@@@    @@@@@           @@@@          @@@@@          @@@@    @@@@@@@@    @@@@@@@  @@@@@@               
  @@@@                          @@@@@@   @@@@@           @@@@          @@@@@          @@@@   @@@@@@          @@@@ @@@@@@                
  @@@@                           @@@@@   @@@@@           @@@@          @@@@@          @@@@   @@@@@           @@@@ @@@@@@                
  @@@@               @@@@@@@@@@@ @@@@@   @@@@@@@@@@@@@@@@@@@@          @@@@@          @@@@   @@@@           @@@@@  @@@@@@@@@@@@@@@@     
  @@@@            @@@@@@@@@@@@@@ @@@@@   @@@@@@@@@@@@@@@@@@@@          @@@@@          @@@@   @@@@ @@@@@@@@@@@@@@    @@@@@@@@@@@@@@@@@@  
  @@@@           @@@@@@          @@@@@   @@@@@           @@@@          @@@@@          @@@@   @@@@ @@@@@@@@@@@    @@              @@@@@@ 
  @@@@           @@@@@           @@@@@   @@@@@           @@@@          @@@@@          @@@@   @@@@@             @@@@@@             @@@@@ 
  @@@@           @@@@@          @@@@@@   @@@@@           @@@@          @@@@@          @@@@    @@@@@              @@               @@@@@ 
  @@@@@@@@@@@@@@  @@@@@@     @@@@@@@@@   @@@@@           @@@@          @@@@@          @@@@     @@@@@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@  
  @@@@@@@@@@@@@@   @@@@@@@@@@@@@@ @@@@   @@@@@           @@@@          @@@@@          @@@@       @@@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@   
                      @@@@@@@                                                                                                           -->
<body>
    <canvas id="stars-canvas" class="stars-canvas"></canvas>
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}
    <script src="{{ 'assets/js/script.js' | relative_url }}"></script>
</body>
</html>
